.bookshop{

    display:grid;
    grid-template-columns:3fr 1fr;
}

.book{
    display:grid;
     grid-template-columns:auto auto auto;
}

.cartbtn{
    padding: 10px;
    background-color: olivedrab;
    color: #fff;
    margin: 10px;
    border-radius: 5%;
    border-style: none;
    cursor: pointer;
}

.cartbtn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid gray;
}
.fullcart{
    position:relative;
    text-align: center;
}
.items{
    position:sticky; 
    top:0;
}
.items>h2{
    
}

/* Responsive Part */
article{
    width: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
}
.twoBtn{
    margin: 50px auto;
}

@media only screen and (max-width: 768px) {
    .bookshop{
        grid-template-columns:1fr;

    }
    .book{
         grid-template-columns:auto;
    }

    .fullcart{
        display:none;
        
    }
}