.bookshop{

    display:grid;
    grid-template-columns:3fr 1fr;
}

.book{
    display:grid;
     grid-template-columns:auto auto auto;
}
.cart{
    display:grid;
    grid-Template-Columns:auto;
    justify-items: center

}


.cart>h1{
    text-align: center;
}
/* Responsive Part */

@media only screen and (max-width: 768px) {
    .bookshop{
        grid-template-columns:1fr;

    }
    .book{
         grid-template-columns:auto;
    }

    .cart{
        display:none;
        
    }
}